<app-header />
<main>
    <app-card>
        <button (click)="onCliclAddExpense()">Add expense</button>
    </app-card>
    <ul id="expenses">
        @for (expense of expenses; track expense.id) {
            <li>
                <app-expense [expense]="expense" [isSelected]="expense.id === selectedExpenseId" (selectExpense)="onSelectExpense($event)" />
            </li>
        }
    </ul>
    @if(isAddingExpense) {
        <app-expense-form (cancel)="onCancelButtonClick()" (add)="onCreateNewExpense($event)"></app-expense-form>
    }
    <!--@if (selectedExpense) {
        <app-expense-form [title]="selectedExpense.title"/>  
    } @else {
        <p id="fallback">Select an expense to see details!</p>
    }-->
</main>
