button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: #433352;
  color: #c3b3d1;
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;
  text-align: left;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-item:first-child {
  width: 0%;
}

.flex-item:nth-child(2)  {
  width: 15%;
}

.flex-item:nth-child(3)  {
  width: 15%;
}

.flex-item:nth-child(4)  {
  width: 20%;
}
.flex-item:nth-child(5)  {
  flex: 1;
}

#deleteExpenseButton {
  max-width: 5rem;
  min-width: 5rem;
  color: #ffca99;
  font-size: 14px;
}

button:hover,
button:active,
.active {
  background-color: #9965dd;
  color: #150722;
}

img {
  width: 2rem;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

span {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
}